
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
        url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova BoldIt';
    src: url('../fonts/ProximaNova/ProximaNova-BoldIt.eot');
    src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
        url('../fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova/ProximaNova-BoldIt.woff') format('woff'),
        url('../fonts/ProximaNova/ProximaNova-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@mixin reg {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 400;
}

@mixin bold {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
}

@mixin bold-it {
  font-family: 'Proxima Nova BoldIt', sans-serif;
  font-style: italic;
  font-weight: 700;
}
