*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  +semibold
img
  max-width: 100%
.container
  width: 100%
  max-width: 1170px
  margin: 0 auto
.section
  padding: 100px 0
  margin-top: 137px
  background-color: $bg-section
  &-title
    display: inline-block
    position: absolute
    width: 244px
    transform: translate(-30px, -133px)
    padding: 13px 0
    font-size: 28px
    text-transform: uppercase
    text-align: center
    background-color: $main-color
// Кнопка
.button
  padding: 7px 13px
  border: none
  background-color: $main-color
  font-size: 14px
  +semibold
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
  &:focus
    outline: none
// Форма input
.input
  color: $text-color
  font-style: italic
  font-size: 18px
  border: none
  border-bottom: 1px solid $black
  &:focus
    outline: none
    border-bottom: 1px solid $main-color
// Валидация форм
div.invalid
  font-size: 14px
  color: red
#callback-name-error
  position: absolute
  top: 150px
  left: 0
  width: 100%
  text-align: center
#callback-phone-error
  position: absolute
  top: 210px
  left: 0px
  width: 100%
  text-align: center
#modal-phone-error
  position: absolute
  top: 155px
  left: 0px
  width: 100%
  text-align: center
