@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova BoldIt';
  src: url("../fonts/ProximaNova/ProximaNova-BoldIt.eot");
  src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url("../fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-BoldIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova Rg', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  padding: 10px 16px;
  border: none;
  background-color: #ffc800;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffd333;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.navbar {
  padding: 8px 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(59%, #ffffff), color-stop(0%, #f7f7f7));
  background: linear-gradient(to right, #ffffff 59%, #f7f7f7 0%);
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 135px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Proxima Nova BoldIt', sans-serif;
  font-style: italic;
  font-weight: 700;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-list__item {
  list-style: none;
}

.navbar-list__item:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 30px;
  background-color: #d9d9d9;
}

.navbar-list__item:last-child:after {
  display: none;
}

.navbar-list__text {
  font-weight: 400;
  font-size: 16px;
}

.navbar-list__text:hover {
  cursor: pointer;
  border-bottom: 2px solid #ffc800;
  color: #ffc800;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__phone {
  margin-left: 55px;
  margin-right: 43px;
  font-size: 18px;
}

.navbar__phone img {
  width: 16px;
}

.navbar__phone a {
  text-decoration: none;
  color: #020202;
}
/*# sourceMappingURL=style.css.map */